#about {
  margin-top: 150px;
  position: relative;
  .back {
    position: absolute;
    height: 650px;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
  }
  .container-own {
    .row {
      .col-md-6 {
        img.about_phone {
          image-rendering: auto;
          width: 100%;
          height: 717.27px;
        }
        .tittle {
          padding-top: 200px;
          font-weight: 700;
          font-size: 36px;
          letter-spacing: 0.01em;
          color: #000000;
        }
        .text {
          margin-top: 40px;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.02em;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #about {
    margin-top: 80px;
    .back {
      height: fit-content;
      width: 100%;
    }
    .container-own {
      .row {
        .col-md-6 {
          img.about_phone {
            height: fit-content;
          }
          .tittle {
            padding-top: 50px;
            font-size: 30px;
          }
          .text {
            margin-top: 30px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #about {
    margin-top: 80px;
    .back {
      height: 600px;
      width: 100%;
    }
    .container-own {
      .row {
        .col-md-6 {
          img.about_phone {
            height: fit-content;
          }
          .tittle {
            padding-top: 60px;
            font-size: 35px;
          }
          .text {
            margin-top: 30px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #about {
    margin-top: 80px;
    .back {
      height: 650px;
      width: 50%;
    }
    .container-own {
      .row {
        .col-md-6 {
          img.about_phone {
            height: 70%;
          }
          .tittle {
            padding-top: 60px;
            font-size: 35px;
          }
          .text {
            margin-top: 30px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #about {
    .back {
      height: 650px;
      width: 50%;
    }
    .container-own {
      .row {
        .col-md-6 {
          img.about_phone {
            height: fit-content;
          }
          .tittle {
            padding-top: 60px;
            font-size: 35px;
          }
          .text {
            margin-top: 30px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
