#carousel_blog {
  margin-top: 130px;
  position: relative;
  .row {
    .col-md-12 {
      .tittle {
        font-weight: 700;
        text-align: center;
        font-size: 48px;
        letter-spacing: 0.01em;
      }
      .carousel {
        margin-top: 70px;
        .owl-carousel {
          .owl-stage {
            .item {
              .img_part {
                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
              .head {
                margin-top: 24px;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #333333;
              }
              .text {
                margin-top: 20px;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #333333;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #carousel_blog {
    margin-top: 70px;
    .row {
      .col-md-12 {
        .tittle {
          font-size: 38px;
        }
        .carousel {
          .owl-carousel {
            .owl-stage {
              .item {
                .head {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
