#contact_us {
  margin-top: 128px;
  padding: 60px 0;
  background: #8383ff;
  @include border-radius(88px 88px 0px 0px);
  .container-own {
    .row {
      .col-md-6 {
        .tittle {
          font-weight: 700;
          padding-top: 20px;
          font-size: 36px;
          letter-spacing: 0.01em;
          color: #ffffff;
        }
        .text {
          width: 80%;
          margin-top: 20px;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #contact_us {
    margin-top: 88px;
    @include border-radius(50px 50px 0px 0px);
    .container-own {
      .row {
        .col-md-6 {
          .tittle {
            font-size: 30px;
          }
          .text {
            width: 100%;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
