#faq {
  margin-top: 180px;
  position: relative;
  .container-own {
    .row {
      .tittle {
        font-weight: 700;
        text-align: center;
        font-size: 48px;
        letter-spacing: 0.01em;
        margin-bottom: 60px;
      }
      .col-md-12 {
        .accordion {
          margin-top: 20px;
          .accordion_item {
            margin-top: 24px;
            overflow: hidden;
            background: #ffffff;
            @include box-shadow(20px 20px 80px rgba(0, 0, 0, 0.1));
            @include border-radius(24px);
            .accordion_header {
              .accordion_button {
                padding: 35px 30px;
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 0.02em;
                outline: none;
                border: none;
                @include box-shadow(none);
                &::after {
                  background-image: url(../img/arrow_down.svg);
                }
                &:not(.collapsed) {
                  color: inherit;
                  background-color: inherit;
                  @include box-shadow(none);
                }
              }
            }
            .accordion_collapse {
              .accordion_body {
                padding: 35px 30px;
                padding-top: 0;
                .text {
                  margin-top: 30px;
                  font-size: 18px;
                  line-height: 32px;
                  letter-spacing: 0.02em;
                  &:first-child {
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #faq {
    margin-top: 80px;
    .container-own {
      .row {
        .tittle {
          font-size: 38px;
          margin-bottom: 40px;
        }
        .col-md-12 {
          .accordion {
            .accordion_item {
              .accordion_header {
                .accordion_button {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  #faq {
    margin-top: 80px;
  }
}
