// Thin 100
// ExtraLight 200
// Light 300
// Regular 400
// Medium 500
// Semi-bold 600
// Bold 700
// Extra-bold 800
// Black 900
// Inter
/////////////////////////////////////////////////////////////////////////////////////
@font-face {
  src: url(../fonts/Inter/Inter-Thin.ttf);
  font-family: Inter-Thin;
  font-weight: 100;
}
@font-face {
  src: url(../fonts/Inter/Inter-ExtraLight.ttf);
  font-family: Inter-ExtraLight;
  font-weight: 200;
}
@font-face {
  src: url(../fonts/Inter/Inter-Light.ttf);
  font-family: Inter-Light;
  font-weight: 300;
}
@font-face {
  src: url(../fonts/Inter/Inter-Regular.ttf);
  font-family: Inter-Regular;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/Inter/Inter-Medium.ttf);
  font-family: Inter-Medium;
  font-weight: 500;
}
@font-face {
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
  font-family: Inter-SemiBold;
  font-weight: 600;
}
@font-face {
  src: url(../fonts/Inter/Inter-Bold.ttf);
  font-family: Inter-Bold;
  font-weight: 700;
}
@font-face {
  src: url(../fonts/Inter/Inter-ExtraBold.ttf);
  font-family: Inter-ExtraBold;
  font-weight: 800;
}
@font-face {
  src: url(../fonts/Inter/Inter-Black.ttf);
  font-family: Inter-Black;
  font-weight: 900;
}

// Montserrat
/////////////////////////////////////////////////////////////////////////////////////
@font-face {
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-family: Montserrat-Bold;
}
