%flexJustify {
  display: flex;
  justify-content: space-between;
}

%objectFit {
  width: 100%;
  object-fit: contain;
}

%background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//   My Groups
%posAbsolute {
  position: absolute;
  bottom: -7px;
  left: 50%;
  height: 2px;
}
%marginPadZero {
  margin: 0;
  padding: 0;
}
%arrowNot {
  -moz-appearance: none;
  -webkit-appearance: none;
}

%transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// @extend %arrowNot;
