#how {
  margin-top: 170px;
  .container-own {
    .row {
      .col-md-12 {
        .tittle {
          font-weight: 700;
          font-size: 36px;
          text-align: center;
          letter-spacing: 0.01em;
          color: #000000;
        }
        .wrapper {
          margin-top: 75px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          .box_complex {
            width: calc(100% / 4.4);
            text-align: center;
            display: flex;
            .box {
              img.icon {
                object-fit: contain;
                width: 32px;
              }
              .header {
                margin-top: 26px;
                font-size: 24px;
                letter-spacing: 0.01em;
              }
              .text {
                margin-top: 8px;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 0.02em;
              }
            }
            .right {
              padding-top: 60px;
              margin-left: 30px;
              img.right_icon {
                width: 51px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  #how {
    margin-top: 70px;
    .container-own {
      .row {
        .col-md-12 {
          .tittle {
            font-size: 30px;
          }
          .wrapper {
            margin-top: 0;
            flex-wrap: wrap;
            flex-direction: column;
            .box_complex {
              width: 80%;
              margin: 0 auto;
              flex-wrap: wrap;
              .box {
                margin-top: 30px;
              }
              .right {
                margin: 30px auto;
                @include transform(rotate(90deg));
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #how {
    .container-own {
      .row {
        .col-md-12 {
          .wrapper {
            .box_complex {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
