#main {
  padding-top: 200px;
  position: relative;
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .container-own {
    .row {
      .col-md-6 {
        &.left_col {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-direction: column;
        }
        .text {
          font-size: 68px;
          line-height: 87px;
          letter-spacing: -0.04em;
          color: #2e054e;
          font-family: Montserrat-Bold;
        }
        .store {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .button_store {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            width: 150px;
            height: 45px;
            margin-right: 20px;
            border: 1px solid #333333;
            @include border-radius(8px);
            img {
              object-fit: contain;
              width: 80%;
            }
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              background-color: #ffffff;
              position: absolute;
              top: -100%;
              left: 0;
              @include transition(all linear 0.2s);
            }
            &:hover::after {
              top: 95%;
            }
          }
        }
        .complex {
          margin-top: -50px;
          width: 95%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .compact {
            .box {
              &:nth-child(2) {
                margin-top: 42px;
              }
            }
          }
          .box {
            @include box-shadow(20px 20px 80px rgba(0, 0, 0, 0.1));
            &_first {
              width: 122px;
              .big {
                height: 122px;
              }
            }
            &_second {
              width: 158px;
              .big {
                height: 158px;
              }
            }
            &_third {
              width: 158px;
              .big {
                height: 158px;
              }
            }
            &_fourth {
              width: 218px;
              margin-top: -90px;
              .big {
                height: 218px;
              }
            }
            .big {
              width: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .price_part {
              padding: 4px 13px;
              display: flex;
              align-items: center;
              margin-top: 5px;
              background: #ffffff;
              @include border-radius(0px 0px 8px 8px);
              img.icon {
                width: 12.49px;
                object-fit: contain;
                margin-right: 6px;
              }
              .price {
                font-size: 19px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #main {
    padding-top: 120px;
    .back {
      height: 40%;
    }
    .container-own {
      .row {
        .col-md-6 {
          .text {
            font-size: 31px;
            line-height: inherit;
          }
          .store {
            .button_store {
              width: 140px;
            }
          }
          .complex {
            margin-top: 50px;
            flex-wrap: wrap;
            .compact {
              width: 100%;
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              .box {
                width: 150px;
                &:nth-child(2) {
                  margin-top: 0;
                }
              }
            }
            .box {
              margin: 0 auto;
              &_fourth {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  #main {
    .container-own {
      .row {
        .col-md-6 {
          .complex {
            .compact {
              .box {
                width: 120px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  #main {
    .back {
      height: 40%;
    }
    .container-own {
      .row {
        .col-md-6 {
          .text {
            font-size: 61px;
            line-height: inherit;
          }
          .complex {
            margin-top: 50px;
            flex-wrap: wrap;
            .compact {
              width: 100%;
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              .box {
                width: 158px;
                &:nth-child(2) {
                  margin-top: 0;
                }
              }
            }
            .box {
              margin: 0 auto;
              &_fourth {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #main {
    .container-own {
      .row {
        .col-md-6 {
          .complex {
            margin-top: -115px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  #main {
    .container-own {
      .row {
        .col-md-6 {
          .complex {
            .compact {
              .box {
                width: 140px;
              }
            }
            .box {
              &_fourth {
                width: 140px;
              }
            }
          }
        }
      }
    }
  }
}
