@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  -ms-box-shadow: $boxShadow;
  -o-box-shadow: $boxShadow;
  -khtml-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}
// @include box-shadow(none);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}
// @include border-radius(none);

@mixin transform($properties) {
  -webkit-transform: $properties;
  -moz-transform: $properties;
  -ms-transform: $properties;
  -o-transform: $properties;
  -khtml-transform: $properties;
  transform: $properties;
}
// @include transform(none);

@mixin transition($time) {
  -webkit-transition: ($time);
  -moz-transition: ($time);
  -ms-transition: ($time);
  -o-transition: ($time);
  -khtml-transition: ($time);
  transition: ($time);
}
// @include transition(none);

@mixin box-shadowDouble($boxShadow01, $boxShadow02) {
  -webkit-box-shadow: $boxShadow01, $boxShadow02;
  -moz-box-shadow: $boxShadow01, $boxShadow02;
  -ms-box-shadow: $boxShadow01, $boxShadow02;
  -o-box-shadow: $boxShadow01, $boxShadow02;
  -khtml-box-shadow: $boxShadow01, $boxShadow02;
  box-shadow: $boxShadow01, $boxShadow02;
}

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  -o-border-bottom-left-radius: $radius;
  -khtml-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
// @include border-bottom-left-radius(none);

@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  -o-border-bottom-right-radius: $radius;
  -khtml-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
// @include border-bottom-right-radius(none);

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  -o-border-top-right-radius: $radius;
  -khtml-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}
// @include border-top-right-radius(none);

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  -o-border-bottom-left-radius: $radius;
  -khtml-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
// @include border-top-left-radius(none);

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -o-border-top-left-radius: $radius;
  -khtml-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}
// @include border-top-left-radius(none);
