#navbar {
  position: absolute;
  width: 100%;
  padding-top: 30px;
  .container-own {
    .row {
      .col-md-12 {
        img.logo {
          width: 196px;
          height: 93.71px;
          object-fit: contain;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #navbar {
    padding-top: 20px;
    .container-own {
      .row {
        .col-md-12 {
          img.logo {
            width: 150px;
            height: 85px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px)  and (max-width: 767px) {
}
@media screen and (min-width: 768px)  and (max-width: 991px) {
}
@media screen and (min-width: 992px)  and (max-width: 1199px) {
}
@media screen and (min-width: 1200px)  and (max-width: 1350px) {
}
