#news {
  padding-top: 166px;
  .container-own {
    .row {
      .col-md-12 {
        .big {
          height: 400px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          @include border-radius(10px);
        }
        .head {
          margin-top: 50px;
          font-weight: 600;
          font-size: 30px;
          text-align: center;
          color: #1b1b1b;
        }
        .text {
          margin-top: 30px;
          font-size: 18px;
          line-height: 30px;
          color: #1b1b1b;
        }
      }
    }
  }
}
