#photo_info {
  margin-top: 180px;
  .container-own {
    .row {
      justify-content: center;
      .col-md-3 {
        .complex {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .top,
          .bottom {
            padding-bottom: 20px;
            .content {
              text-align: center;
              img.icon {
                width: 70px;
                object-fit: contain;
              }
              .header {
                margin-top: 20px;
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 0.02em;
              }
              .text {
                margin-top: 16px;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.02em;
              }
            }
          }
        }
      }
      .col-md-4 {
        .carousel {
          .owl-carousel {
            .owl-stage {
              .item {
                height: 615px;
                .inside_item {
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #photo_info {
    margin-top: 70px;
    .container-own {
      .row {
        .col-md-4 {
          .carousel {
            margin: 30px 0;
            .owl-carousel {
              .owl-stage {
                .item {
                  height: 415px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #photo_info {
    margin-top: 70px;
    .container-own {
      .row {
        .col-md-4 {
          .carousel {
            margin: 30px 0;
            .owl-carousel {
              .owl-stage {
                .item {
                  height: 615px;
                }
              }
            }
          }
        }
      }
    }
  }
}
