* {
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

body {
  background: #ffffff;
  overflow-x: hidden;
  font-weight: 500;
  color: #333333;
}

form {
  .form_compact {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 18px;
    .form-group-label {
      width: calc(100% / 2.1);
      .form-group {
        width: 100%;
      }
    }
  }
  .form-group-label {
    label {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 16px;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
  }
  .form-group {
    width: 445px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    @include border-radius(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    &.full {
      width: 100%;
      button.form_button {
        align-self: end;
      }
    }
    .input {
      height: 48px;
      font-size: 14px;
      letter-spacing: 0.02em;
      border: none;
      color: #777777;
      &:focus {
        outline: none;
        border: none;
        @include box-shadow(none);
      }
    }
    textarea.input {
      height: 90px;
    }
    button.form_button {
      position: relative;
      border: 0;
      padding: 0;
      width: 117px;
      height: 48px;
      background: #5a69c2;
      overflow: hidden;
      @include border-radius(4px);
      cursor: pointer;
      &.purple {
        background: #8383ff;
        &::before,
        &::after {
          background-color: #5c5cd8;
        }
      }
      span {
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #fff;
        position: relative;
        z-index: 1;
      }
      &::before,
      &::after {
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        width: 0;
        background-color: #3e4c9c;
        content: "";
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
        @include transition(width 0.3s);
      }
      &:hover::before {
        width: 100%;
        @include transition(width 0.3s);
      }
      &:hover::after {
        background-color: transparent;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  form {
    .form_compact {
      flex-wrap: wrap;
      .form-group-label {
        width: 100%;
        .form-group {
          margin-bottom: 20px;
        }
      }
    }
    .form-group {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  form {
    .form-group {
      width: 100%;
    }
  }
}
@media screen and (min-width: 576px) {
  .container-own {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container-own {
    max-width: 760px;
  }
}
@media screen and (min-width: 991px) {
  .container-own {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container-own {
    max-width: 1155px;
  }
}
@media screen and (min-width: 1350px) {
  .container-own {
    max-width: 1205px;
  }
}
