#subscribe {
  margin-top: 160px;
  position: relative;
  .back {
    position: absolute;
    height: 327px;
    top: 0;
    left: 0;
    width: 80%;
    z-index: -1;
  }
  .container-own {
    .row {
      .col-md-5 {
        .text {
          height: 327px;
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 30px;
          line-height: 39px;
          letter-spacing: 0.02em;
        }
      }
      .col-md-7 {
        .wrapper {
          padding-top: 50px;
          position: relative;
          height: 400px;
          width: 80%;
          margin-left: auto;
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 111px;
            height: 111px;
            position: absolute;
            top: 5px;
            right: -45px;
            object-fit: contain;
            background: #8383ff;
            @include box-shadow(10px 20px 20px rgba(0, 0, 0, 0.08));
            @include border-radius(16px);
            img {
              width: 50px;
              object-fit: contain;
            }
          }
          .subs {
            height: 269px;
            background: #ffffff;
            @include box-shadow(10px 20px 60px rgba(0, 0, 0, 0.1));
            @include border-radius(16px);
            padding: 47px 0;
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            letter-spacing: 0.02em;
            color: #2b3b54;
          }
          .form {
            position: absolute;
            bottom: 10px;
            left: -80px;
            width: 529px;
            padding: 44px 41px;
            background: #8383ff;
            @include box-shadow( 10px 20px 20px rgba(0, 0, 0, 0.08));
            @include border-radius(16px);
            label {
              font-weight: 700;
              font-size: 18px;
              margin-bottom: 16px;
              letter-spacing: 0.02em;
              color: #ffffff;
            }
            form {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #subscribe {
    margin-top: 70px;
    .back {
      height: 427px;
      width: 100%;
    }
    .container-own {
      .row {
        .col-md-5 {
          .text {
            height: 327px;
            font-size: 25px;
          }
        }
        .col-md-7 {
          .wrapper {
            width: 100%;
            .icon {
              top: -15px;
              right: 45px;
            }
            .subs {
              height: 269px;
              padding: 47px 0;
              font-size: 36px;
            }
            .form {
              left: 0px;
              width: 100%;
              padding: 44px 20px;
              label {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #subscribe {
    .back {
      height: 427px;
    }
    .container-own {
      .row {
        .col-md-7 {
          .wrapper {
            width: 87%;
            .icon {
              right: 15px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #subscribe {
    .container-own {
      .row {
        .col-md-7 {
          .wrapper {
            .icon {
              top: -24px;
              right: 9px;
            }
            .form {
              width: 385px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #subscribe {
    .container-own {
      .row {
        .col-md-7 {
          .wrapper {
            .icon {
              top: -24px;
              right: 9px;
            }
          }
        }
      }
    }
  }
}