#team {
  margin-top: 205px;
  position: relative;
  .container-own {
    .row {
      .tittle {
        font-weight: 700;
        text-align: center;
        font-size: 48px;
        letter-spacing: 0.01em;
        margin-bottom: 60px;
      }
      .col-md-3 {
        .box {
          text-align: center;
          letter-spacing: 0.02em;
          img {
            width: 130px;
            height: 130px;
            @include border-radius(50%);
          }
          .head {
            margin-top: 24px;
            font-weight: 700;
            font-size: 24px;
          }
          .position {
            margin-top: 13px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #team {
    margin-top: 105px;
    position: relative;
    .container-own {
      .row {
        .tittle {
          font-size: 38px;
          margin-bottom: 20px;
        }
        .col-md-3 {
          .box {
            margin-top: 20px;
            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #team {
    margin-top: 105px;
  }
}
