#carousel_blog {
  margin-top: 130px;
  position: relative; }
  #carousel_blog .row .col-md-12 .tittle {
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.01em; }
  #carousel_blog .row .col-md-12 .carousel {
    margin-top: 70px; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .img_part img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .head {
      margin-top: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #333333; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .text {
      margin-top: 20px;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #333333; }

@media screen and (max-width: 576px) {
  #carousel_blog {
    margin-top: 70px; }
    #carousel_blog .row .col-md-12 .tittle {
      font-size: 38px; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .head {
      font-size: 20px; } }

/*# sourceMappingURL=carousel_blog.css.map */
