#info {
  margin-top: 170px;
  position: relative; }
  #info .back {
    height: 421px;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    z-index: -1; }
  #info .container-own .row .col-md-12 .box {
    height: 421px;
    display: grid;
    align-content: center; }
    #info .container-own .row .col-md-12 .box .text {
      display: flex;
      align-items: flex-start;
      font-weight: 700;
      font-size: 40px;
      line-height: 65px;
      color: #27303f; }
      #info .container-own .row .col-md-12 .box .text img.icon {
        margin-right: 35px;
        width: 72.16px;
        margin-top: -10px; }

@media screen and (max-width: 576px) {
  #info {
    margin-top: 80px; }
    #info .back {
      width: 100%; }
    #info .container-own .row .col-md-12 .box .text {
      font-size: 22px;
      line-height: inherit; }
      #info .container-own .row .col-md-12 .box .text img.icon {
        margin-right: 13px;
        width: 27.16px;
        margin-top: -2px; } }
@media screen and (min-width: 576px) and (max-width: 991px) {
  #info {
    margin-top: 80px; }
    #info .back {
      width: 70%; }
    #info .container-own .row .col-md-12 .box .text {
      font-size: 28px;
      line-height: inherit; }
      #info .container-own .row .col-md-12 .box .text img.icon {
        margin-right: 13px;
        width: 27.16px;
        margin-top: -2px; } }
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #info .container-own .row .col-md-12 .box .text {
    font-size: 32px; } }

/*# sourceMappingURL=info.css.map */
