#navbar {
  position: absolute;
  width: 100%;
  padding-top: 30px; }
  #navbar .container-own .row .col-md-12 img.logo {
    width: 196px;
    height: 93.71px;
    object-fit: contain; }

@media screen and (max-width: 576px) {
  #navbar {
    padding-top: 20px; }
    #navbar .container-own .row .col-md-12 img.logo {
      width: 150px;
      height: 85px; } }

/*# sourceMappingURL=navbar.css.map */
