#photo_info {
  margin-top: 180px; }
  #photo_info .container-own .row {
    justify-content: center; }
    #photo_info .container-own .row .col-md-3 .complex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }
      #photo_info .container-own .row .col-md-3 .complex .top,
      #photo_info .container-own .row .col-md-3 .complex .bottom {
        padding-bottom: 20px; }
        #photo_info .container-own .row .col-md-3 .complex .top .content,
        #photo_info .container-own .row .col-md-3 .complex .bottom .content {
          text-align: center; }
          #photo_info .container-own .row .col-md-3 .complex .top .content img.icon,
          #photo_info .container-own .row .col-md-3 .complex .bottom .content img.icon {
            width: 70px;
            object-fit: contain; }
          #photo_info .container-own .row .col-md-3 .complex .top .content .header,
          #photo_info .container-own .row .col-md-3 .complex .bottom .content .header {
            margin-top: 20px;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.02em; }
          #photo_info .container-own .row .col-md-3 .complex .top .content .text,
          #photo_info .container-own .row .col-md-3 .complex .bottom .content .text {
            margin-top: 16px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.02em; }
    #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item {
      height: 615px; }
      #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item .inside_item {
        height: 100%; }
        #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item .inside_item img {
          width: 100%;
          height: 100%; }

@media screen and (max-width: 768px) {
  #photo_info {
    margin-top: 70px; }
    #photo_info .container-own .row .col-md-4 .carousel {
      margin: 30px 0; }
      #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item {
        height: 415px; } }
@media screen and (min-width: 576px) and (max-width: 768px) {
  #photo_info {
    margin-top: 70px; }
    #photo_info .container-own .row .col-md-4 .carousel {
      margin: 30px 0; }
      #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item {
        height: 615px; } }

/*# sourceMappingURL=photo_info.css.map */
