#place {
  margin-top: 150px; }
  #place .container-own .row .col-md-12 .tittle {
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: 700; }
  #place .container-own .row .col-md-12 .wrapper {
    margin-top: 106px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    #place .container-own .row .col-md-12 .wrapper .box {
      width: calc(100% / 5.5);
      text-align: center; }
      #place .container-own .row .col-md-12 .wrapper .box img {
        width: 100px;
        object-fit: contain; }
      #place .container-own .row .col-md-12 .wrapper .box .head {
        margin-top: 50px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.02em; }
      #place .container-own .row .col-md-12 .wrapper .box .text {
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 0.02em; }

@media screen and (max-width: 768px) {
  #place {
    margin-top: 80px; }
    #place .container-own .row .col-md-12 .tittle {
      font-size: 38px;
      text-align: center;
      letter-spacing: 0.01em;
      font-weight: 700; }
    #place .container-own .row .col-md-12 .wrapper {
      margin-top: 56px;
      flex-wrap: wrap; }
      #place .container-own .row .col-md-12 .wrapper .box {
        width: calc(100% / 2.2);
        margin-top: 25px; }
        #place .container-own .row .col-md-12 .wrapper .box img {
          width: 70px; }
        #place .container-own .row .col-md-12 .wrapper .box .head {
          margin-top: 30px;
          font-size: 20px; }
        #place .container-own .row .col-md-12 .wrapper .box .text {
          margin-top: 20px;
          font-size: 18px;
          letter-spacing: 0.02em; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  #place .container-own .row .col-md-12 .wrapper .box img {
    width: 70px; } }

/*# sourceMappingURL=place.css.map */
