* {
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word; }

body {
  background: #ffffff;
  overflow-x: hidden;
  font-weight: 500;
  color: #333333; }

form .form_compact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 18px; }
  form .form_compact .form-group-label {
    width: calc(100% / 2.1); }
    form .form_compact .form-group-label .form-group {
      width: 100%; }
form .form-group-label label {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: #ffffff; }
form .form-group {
  width: 445px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px; }
  form .form-group.full {
    width: 100%; }
    form .form-group.full button.form_button {
      align-self: end; }
  form .form-group .input {
    height: 48px;
    font-size: 14px;
    letter-spacing: 0.02em;
    border: none;
    color: #777777; }
    form .form-group .input:focus {
      outline: none;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      -khtml-box-shadow: none;
      box-shadow: none; }
  form .form-group textarea.input {
    height: 90px; }
  form .form-group button.form_button {
    position: relative;
    border: 0;
    padding: 0;
    width: 117px;
    height: 48px;
    background: #5a69c2;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer; }
    form .form-group button.form_button.purple {
      background: #8383ff; }
      form .form-group button.form_button.purple::before, form .form-group button.form_button.purple::after {
        background-color: #5c5cd8; }
    form .form-group button.form_button span {
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #fff;
      position: relative;
      z-index: 1; }
    form .form-group button.form_button::before, form .form-group button.form_button::after {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      width: 0;
      background-color: #3e4c9c;
      content: ""; }
    form .form-group button.form_button::before {
      left: 0; }
    form .form-group button.form_button::after {
      right: 0;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      -khtml-transition: width 0.3s;
      transition: width 0.3s; }
    form .form-group button.form_button:hover::before {
      width: 100%;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      -khtml-transition: width 0.3s;
      transition: width 0.3s; }
    form .form-group button.form_button:hover::after {
      background-color: transparent;
      width: 100%; }

@media screen and (max-width: 576px) {
  form .form_compact {
    flex-wrap: wrap; }
    form .form_compact .form-group-label {
      width: 100%; }
      form .form_compact .form-group-label .form-group {
        margin-bottom: 20px; }
  form .form-group {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  form .form-group {
    width: 100%; } }
@media screen and (min-width: 576px) {
  .container-own {
    max-width: 540px; } }
@media screen and (min-width: 768px) {
  .container-own {
    max-width: 760px; } }
@media screen and (min-width: 991px) {
  .container-own {
    max-width: 960px; } }
@media screen and (min-width: 1200px) {
  .container-own {
    max-width: 1155px; } }
@media screen and (min-width: 1350px) {
  .container-own {
    max-width: 1205px; } }
@font-face {
  src: url(../fonts/Inter/Inter-Thin.ttf);
  font-family: Inter-Thin;
  font-weight: 100; }
@font-face {
  src: url(../fonts/Inter/Inter-ExtraLight.ttf);
  font-family: Inter-ExtraLight;
  font-weight: 200; }
@font-face {
  src: url(../fonts/Inter/Inter-Light.ttf);
  font-family: Inter-Light;
  font-weight: 300; }
@font-face {
  src: url(../fonts/Inter/Inter-Regular.ttf);
  font-family: Inter-Regular;
  font-weight: 400; }
@font-face {
  src: url(../fonts/Inter/Inter-Medium.ttf);
  font-family: Inter-Medium;
  font-weight: 500; }
@font-face {
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
  font-family: Inter-SemiBold;
  font-weight: 600; }
@font-face {
  src: url(../fonts/Inter/Inter-Bold.ttf);
  font-family: Inter-Bold;
  font-weight: 700; }
@font-face {
  src: url(../fonts/Inter/Inter-ExtraBold.ttf);
  font-family: Inter-ExtraBold;
  font-weight: 800; }
@font-face {
  src: url(../fonts/Inter/Inter-Black.ttf);
  font-family: Inter-Black;
  font-weight: 900; }
@font-face {
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-family: Montserrat-Bold; }
#navbar {
  position: absolute;
  width: 100%;
  padding-top: 30px; }
  #navbar .container-own .row .col-md-12 img.logo {
    width: 196px;
    height: 93.71px;
    object-fit: contain; }

@media screen and (max-width: 576px) {
  #navbar {
    padding-top: 20px; }
    #navbar .container-own .row .col-md-12 img.logo {
      width: 150px;
      height: 85px; } }
#main {
  padding-top: 200px;
  position: relative; }
  #main .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  #main .container-own .row .col-md-6.left_col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column; }
  #main .container-own .row .col-md-6 .text {
    font-size: 68px;
    line-height: 87px;
    letter-spacing: -0.04em;
    color: #2e054e;
    font-family: Montserrat-Bold; }
  #main .container-own .row .col-md-6 .store {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    #main .container-own .row .col-md-6 .store .button_store {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      width: 150px;
      height: 45px;
      margin-right: 20px;
      border: 1px solid #333333;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px; }
      #main .container-own .row .col-md-6 .store .button_store img {
        object-fit: contain;
        width: 80%; }
      #main .container-own .row .col-md-6 .store .button_store::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: -100%;
        left: 0;
        -webkit-transition: all linear 0.2s;
        -moz-transition: all linear 0.2s;
        -ms-transition: all linear 0.2s;
        -o-transition: all linear 0.2s;
        -khtml-transition: all linear 0.2s;
        transition: all linear 0.2s; }
      #main .container-own .row .col-md-6 .store .button_store:hover::after {
        top: 95%; }
  #main .container-own .row .col-md-6 .complex {
    margin-top: -50px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #main .container-own .row .col-md-6 .complex .compact .box:nth-child(2) {
      margin-top: 42px; }
    #main .container-own .row .col-md-6 .complex .box {
      -webkit-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -khtml-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1); }
      #main .container-own .row .col-md-6 .complex .box_first {
        width: 122px; }
        #main .container-own .row .col-md-6 .complex .box_first .big {
          height: 122px; }
      #main .container-own .row .col-md-6 .complex .box_second {
        width: 158px; }
        #main .container-own .row .col-md-6 .complex .box_second .big {
          height: 158px; }
      #main .container-own .row .col-md-6 .complex .box_third {
        width: 158px; }
        #main .container-own .row .col-md-6 .complex .box_third .big {
          height: 158px; }
      #main .container-own .row .col-md-6 .complex .box_fourth {
        width: 218px;
        margin-top: -90px; }
        #main .container-own .row .col-md-6 .complex .box_fourth .big {
          height: 218px; }
      #main .container-own .row .col-md-6 .complex .box .big {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      #main .container-own .row .col-md-6 .complex .box .price_part {
        padding: 4px 13px;
        display: flex;
        align-items: center;
        margin-top: 5px;
        background: #ffffff;
        -webkit-border-radius: 0px 0px 8px 8px;
        -moz-border-radius: 0px 0px 8px 8px;
        -ms-border-radius: 0px 0px 8px 8px;
        -o-border-radius: 0px 0px 8px 8px;
        -khtml-border-radius: 0px 0px 8px 8px;
        border-radius: 0px 0px 8px 8px; }
        #main .container-own .row .col-md-6 .complex .box .price_part img.icon {
          width: 12.49px;
          object-fit: contain;
          margin-right: 6px; }
        #main .container-own .row .col-md-6 .complex .box .price_part .price {
          font-size: 19px;
          font-weight: 700; }

@media screen and (max-width: 576px) {
  #main {
    padding-top: 120px; }
    #main .back {
      height: 40%; }
    #main .container-own .row .col-md-6 .text {
      font-size: 31px;
      line-height: inherit; }
    #main .container-own .row .col-md-6 .store .button_store {
      width: 140px; }
    #main .container-own .row .col-md-6 .complex {
      margin-top: 50px;
      flex-wrap: wrap; }
      #main .container-own .row .col-md-6 .complex .compact {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between; }
        #main .container-own .row .col-md-6 .complex .compact .box {
          width: 150px; }
          #main .container-own .row .col-md-6 .complex .compact .box:nth-child(2) {
            margin-top: 0; }
      #main .container-own .row .col-md-6 .complex .box {
        margin: 0 auto; }
        #main .container-own .row .col-md-6 .complex .box_fourth {
          margin-top: 20px; } }
@media screen and (max-width: 320px) {
  #main .container-own .row .col-md-6 .complex .compact .box {
    width: 120px; } }
@media screen and (min-width: 576px) and (max-width: 991px) {
  #main .back {
    height: 40%; }
  #main .container-own .row .col-md-6 .text {
    font-size: 61px;
    line-height: inherit; }
  #main .container-own .row .col-md-6 .complex {
    margin-top: 50px;
    flex-wrap: wrap; }
    #main .container-own .row .col-md-6 .complex .compact {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between; }
      #main .container-own .row .col-md-6 .complex .compact .box {
        width: 158px; }
        #main .container-own .row .col-md-6 .complex .compact .box:nth-child(2) {
          margin-top: 0; }
    #main .container-own .row .col-md-6 .complex .box {
      margin: 0 auto; }
      #main .container-own .row .col-md-6 .complex .box_fourth {
        margin-top: 20px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  #main .container-own .row .col-md-6 .complex {
    margin-top: -115px; } }
@media screen and (min-width: 991px) and (max-width: 1199px) {
  #main .container-own .row .col-md-6 .complex .compact .box {
    width: 140px; }
  #main .container-own .row .col-md-6 .complex .box_fourth {
    width: 140px; } }
#about {
  margin-top: 150px;
  position: relative; }
  #about .back {
    position: absolute;
    height: 650px;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1; }
  #about .container-own .row .col-md-6 img.about_phone {
    image-rendering: auto;
    width: 100%;
    height: 717.27px; }
  #about .container-own .row .col-md-6 .tittle {
    padding-top: 200px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.01em;
    color: #000000; }
  #about .container-own .row .col-md-6 .text {
    margin-top: 40px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em; }

@media screen and (max-width: 576px) {
  #about {
    margin-top: 80px; }
    #about .back {
      height: fit-content;
      width: 100%; }
    #about .container-own .row .col-md-6 img.about_phone {
      height: fit-content; }
    #about .container-own .row .col-md-6 .tittle {
      padding-top: 50px;
      font-size: 30px; }
    #about .container-own .row .col-md-6 .text {
      margin-top: 30px;
      font-size: 16px; } }
@media screen and (min-width: 576px) and (max-width: 768px) {
  #about {
    margin-top: 80px; }
    #about .back {
      height: 600px;
      width: 100%; }
    #about .container-own .row .col-md-6 img.about_phone {
      height: fit-content; }
    #about .container-own .row .col-md-6 .tittle {
      padding-top: 60px;
      font-size: 35px; }
    #about .container-own .row .col-md-6 .text {
      margin-top: 30px;
      font-size: 18px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  #about {
    margin-top: 80px; }
    #about .back {
      height: 650px;
      width: 50%; }
    #about .container-own .row .col-md-6 img.about_phone {
      height: 70%; }
    #about .container-own .row .col-md-6 .tittle {
      padding-top: 60px;
      font-size: 35px; }
    #about .container-own .row .col-md-6 .text {
      margin-top: 30px;
      font-size: 18px; } }
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #about .back {
    height: 650px;
    width: 50%; }
  #about .container-own .row .col-md-6 img.about_phone {
    height: fit-content; }
  #about .container-own .row .col-md-6 .tittle {
    padding-top: 60px;
    font-size: 35px; }
  #about .container-own .row .col-md-6 .text {
    margin-top: 30px;
    font-size: 18px; } }
#place {
  margin-top: 150px; }
  #place .container-own .row .col-md-12 .tittle {
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: 700; }
  #place .container-own .row .col-md-12 .wrapper {
    margin-top: 106px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    #place .container-own .row .col-md-12 .wrapper .box {
      width: calc(100% / 5.5);
      text-align: center; }
      #place .container-own .row .col-md-12 .wrapper .box img {
        width: 100px;
        object-fit: contain; }
      #place .container-own .row .col-md-12 .wrapper .box .head {
        margin-top: 50px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.02em; }
      #place .container-own .row .col-md-12 .wrapper .box .text {
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 0.02em; }

@media screen and (max-width: 768px) {
  #place {
    margin-top: 80px; }
    #place .container-own .row .col-md-12 .tittle {
      font-size: 38px;
      text-align: center;
      letter-spacing: 0.01em;
      font-weight: 700; }
    #place .container-own .row .col-md-12 .wrapper {
      margin-top: 56px;
      flex-wrap: wrap; }
      #place .container-own .row .col-md-12 .wrapper .box {
        width: calc(100% / 2.2);
        margin-top: 25px; }
        #place .container-own .row .col-md-12 .wrapper .box img {
          width: 70px; }
        #place .container-own .row .col-md-12 .wrapper .box .head {
          margin-top: 30px;
          font-size: 20px; }
        #place .container-own .row .col-md-12 .wrapper .box .text {
          margin-top: 20px;
          font-size: 18px;
          letter-spacing: 0.02em; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  #place .container-own .row .col-md-12 .wrapper .box img {
    width: 70px; } }
#info {
  margin-top: 170px;
  position: relative; }
  #info .back {
    height: 421px;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    z-index: -1; }
  #info .container-own .row .col-md-12 .box {
    height: 421px;
    display: grid;
    align-content: center; }
    #info .container-own .row .col-md-12 .box .text {
      display: flex;
      align-items: flex-start;
      font-weight: 700;
      font-size: 40px;
      line-height: 65px;
      color: #27303f; }
      #info .container-own .row .col-md-12 .box .text img.icon {
        margin-right: 35px;
        width: 72.16px;
        margin-top: -10px; }

@media screen and (max-width: 576px) {
  #info {
    margin-top: 80px; }
    #info .back {
      width: 100%; }
    #info .container-own .row .col-md-12 .box .text {
      font-size: 22px;
      line-height: inherit; }
      #info .container-own .row .col-md-12 .box .text img.icon {
        margin-right: 13px;
        width: 27.16px;
        margin-top: -2px; } }
@media screen and (min-width: 576px) and (max-width: 991px) {
  #info {
    margin-top: 80px; }
    #info .back {
      width: 70%; }
    #info .container-own .row .col-md-12 .box .text {
      font-size: 28px;
      line-height: inherit; }
      #info .container-own .row .col-md-12 .box .text img.icon {
        margin-right: 13px;
        width: 27.16px;
        margin-top: -2px; } }
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #info .container-own .row .col-md-12 .box .text {
    font-size: 32px; } }
#photo_info {
  margin-top: 180px; }
  #photo_info .container-own .row {
    justify-content: center; }
    #photo_info .container-own .row .col-md-3 .complex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }
      #photo_info .container-own .row .col-md-3 .complex .top,
      #photo_info .container-own .row .col-md-3 .complex .bottom {
        padding-bottom: 20px; }
        #photo_info .container-own .row .col-md-3 .complex .top .content,
        #photo_info .container-own .row .col-md-3 .complex .bottom .content {
          text-align: center; }
          #photo_info .container-own .row .col-md-3 .complex .top .content img.icon,
          #photo_info .container-own .row .col-md-3 .complex .bottom .content img.icon {
            width: 70px;
            object-fit: contain; }
          #photo_info .container-own .row .col-md-3 .complex .top .content .header,
          #photo_info .container-own .row .col-md-3 .complex .bottom .content .header {
            margin-top: 20px;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.02em; }
          #photo_info .container-own .row .col-md-3 .complex .top .content .text,
          #photo_info .container-own .row .col-md-3 .complex .bottom .content .text {
            margin-top: 16px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.02em; }
    #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item {
      height: 615px; }
      #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item .inside_item {
        height: 100%; }
        #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item .inside_item img {
          width: 100%;
          height: 100%; }

@media screen and (max-width: 768px) {
  #photo_info {
    margin-top: 70px; }
    #photo_info .container-own .row .col-md-4 .carousel {
      margin: 30px 0; }
      #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item {
        height: 415px; } }
@media screen and (min-width: 576px) and (max-width: 768px) {
  #photo_info {
    margin-top: 70px; }
    #photo_info .container-own .row .col-md-4 .carousel {
      margin: 30px 0; }
      #photo_info .container-own .row .col-md-4 .carousel .owl-carousel .owl-stage .item {
        height: 615px; } }
#how {
  margin-top: 170px; }
  #how .container-own .row .col-md-12 .tittle {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000; }
  #how .container-own .row .col-md-12 .wrapper {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    #how .container-own .row .col-md-12 .wrapper .box_complex {
      width: calc(100% / 4.4);
      text-align: center;
      display: flex; }
      #how .container-own .row .col-md-12 .wrapper .box_complex .box img.icon {
        object-fit: contain;
        width: 32px; }
      #how .container-own .row .col-md-12 .wrapper .box_complex .box .header {
        margin-top: 26px;
        font-size: 24px;
        letter-spacing: 0.01em; }
      #how .container-own .row .col-md-12 .wrapper .box_complex .box .text {
        margin-top: 8px;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.02em; }
      #how .container-own .row .col-md-12 .wrapper .box_complex .right {
        padding-top: 60px;
        margin-left: 30px; }
        #how .container-own .row .col-md-12 .wrapper .box_complex .right img.right_icon {
          width: 51px;
          object-fit: contain; }

@media screen and (max-width: 991px) {
  #how {
    margin-top: 70px; }
    #how .container-own .row .col-md-12 .tittle {
      font-size: 30px; }
    #how .container-own .row .col-md-12 .wrapper {
      margin-top: 0;
      flex-wrap: wrap;
      flex-direction: column; }
      #how .container-own .row .col-md-12 .wrapper .box_complex {
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap; }
        #how .container-own .row .col-md-12 .wrapper .box_complex .box {
          margin-top: 30px; }
        #how .container-own .row .col-md-12 .wrapper .box_complex .right {
          margin: 30px auto;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -khtml-transform: rotate(90deg);
          transform: rotate(90deg);
          padding-top: 0; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  #how .container-own .row .col-md-12 .wrapper .box_complex {
    width: 50%; } }
#carousel_blog {
  margin-top: 130px;
  position: relative; }
  #carousel_blog .row .col-md-12 .tittle {
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.01em; }
  #carousel_blog .row .col-md-12 .carousel {
    margin-top: 70px; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .img_part img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .head {
      margin-top: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #333333; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .text {
      margin-top: 20px;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #333333; }

@media screen and (max-width: 576px) {
  #carousel_blog {
    margin-top: 70px; }
    #carousel_blog .row .col-md-12 .tittle {
      font-size: 38px; }
    #carousel_blog .row .col-md-12 .carousel .owl-carousel .owl-stage .item .head {
      font-size: 20px; } }
#subscribe {
  margin-top: 160px;
  position: relative; }
  #subscribe .back {
    position: absolute;
    height: 327px;
    top: 0;
    left: 0;
    width: 80%;
    z-index: -1; }
  #subscribe .container-own .row .col-md-5 .text {
    height: 327px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em; }
  #subscribe .container-own .row .col-md-7 .wrapper {
    padding-top: 50px;
    position: relative;
    height: 400px;
    width: 80%;
    margin-left: auto; }
    #subscribe .container-own .row .col-md-7 .wrapper .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 111px;
      height: 111px;
      position: absolute;
      top: 5px;
      right: -45px;
      object-fit: contain;
      background: #8383ff;
      -webkit-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -ms-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -o-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -khtml-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      -khtml-border-radius: 16px;
      border-radius: 16px; }
      #subscribe .container-own .row .col-md-7 .wrapper .icon img {
        width: 50px;
        object-fit: contain; }
    #subscribe .container-own .row .col-md-7 .wrapper .subs {
      height: 269px;
      background: #ffffff;
      -webkit-box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.1);
      -khtml-box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.1);
      box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      -khtml-border-radius: 16px;
      border-radius: 16px;
      padding: 47px 0;
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.02em;
      color: #2b3b54; }
    #subscribe .container-own .row .col-md-7 .wrapper .form {
      position: absolute;
      bottom: 10px;
      left: -80px;
      width: 529px;
      padding: 44px 41px;
      background: #8383ff;
      -webkit-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -ms-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -o-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -khtml-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.08);
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      -khtml-border-radius: 16px;
      border-radius: 16px; }
      #subscribe .container-own .row .col-md-7 .wrapper .form label {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 16px;
        letter-spacing: 0.02em;
        color: #ffffff; }
      #subscribe .container-own .row .col-md-7 .wrapper .form form {
        margin-top: 0; }

@media screen and (max-width: 576px) {
  #subscribe {
    margin-top: 70px; }
    #subscribe .back {
      height: 427px;
      width: 100%; }
    #subscribe .container-own .row .col-md-5 .text {
      height: 327px;
      font-size: 25px; }
    #subscribe .container-own .row .col-md-7 .wrapper {
      width: 100%; }
      #subscribe .container-own .row .col-md-7 .wrapper .icon {
        top: -15px;
        right: 45px; }
      #subscribe .container-own .row .col-md-7 .wrapper .subs {
        height: 269px;
        padding: 47px 0;
        font-size: 36px; }
      #subscribe .container-own .row .col-md-7 .wrapper .form {
        left: 0px;
        width: 100%;
        padding: 44px 20px; }
        #subscribe .container-own .row .col-md-7 .wrapper .form label {
          font-size: 16px; } }
@media screen and (min-width: 576px) and (max-width: 768px) {
  #subscribe .back {
    height: 427px; }
  #subscribe .container-own .row .col-md-7 .wrapper {
    width: 87%; }
    #subscribe .container-own .row .col-md-7 .wrapper .icon {
      right: 15px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  #subscribe .container-own .row .col-md-7 .wrapper .icon {
    top: -24px;
    right: 9px; }
  #subscribe .container-own .row .col-md-7 .wrapper .form {
    width: 385px; } }
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #subscribe .container-own .row .col-md-7 .wrapper .icon {
    top: -24px;
    right: 9px; } }
#team {
  margin-top: 205px;
  position: relative; }
  #team .container-own .row .tittle {
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.01em;
    margin-bottom: 60px; }
  #team .container-own .row .col-md-3 .box {
    text-align: center;
    letter-spacing: 0.02em; }
    #team .container-own .row .col-md-3 .box img {
      width: 130px;
      height: 130px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -khtml-border-radius: 50%;
      border-radius: 50%; }
    #team .container-own .row .col-md-3 .box .head {
      margin-top: 24px;
      font-weight: 700;
      font-size: 24px; }
    #team .container-own .row .col-md-3 .box .position {
      margin-top: 13px;
      font-size: 18px; }

@media screen and (max-width: 768px) {
  #team {
    margin-top: 105px;
    position: relative; }
    #team .container-own .row .tittle {
      font-size: 38px;
      margin-bottom: 20px; }
    #team .container-own .row .col-md-3 .box {
      margin-top: 20px; }
      #team .container-own .row .col-md-3 .box img {
        width: 100px;
        height: 100px; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #team {
    margin-top: 105px; } }
#faq {
  margin-top: 180px;
  position: relative; }
  #faq .container-own .row .tittle {
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.01em;
    margin-bottom: 60px; }
  #faq .container-own .row .col-md-12 .accordion {
    margin-top: 20px; }
    #faq .container-own .row .col-md-12 .accordion .accordion_item {
      margin-top: 24px;
      overflow: hidden;
      background: #ffffff;
      -webkit-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -khtml-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
      -khtml-border-radius: 24px;
      border-radius: 24px; }
      #faq .container-own .row .col-md-12 .accordion .accordion_item .accordion_header .accordion_button {
        padding: 35px 30px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.02em;
        outline: none;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        -khtml-box-shadow: none;
        box-shadow: none; }
        #faq .container-own .row .col-md-12 .accordion .accordion_item .accordion_header .accordion_button::after {
          background-image: url(../img/arrow_down.svg); }
        #faq .container-own .row .col-md-12 .accordion .accordion_item .accordion_header .accordion_button:not(.collapsed) {
          color: inherit;
          background-color: inherit;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          -khtml-box-shadow: none;
          box-shadow: none; }
      #faq .container-own .row .col-md-12 .accordion .accordion_item .accordion_collapse .accordion_body {
        padding: 35px 30px;
        padding-top: 0; }
        #faq .container-own .row .col-md-12 .accordion .accordion_item .accordion_collapse .accordion_body .text {
          margin-top: 30px;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.02em; }
          #faq .container-own .row .col-md-12 .accordion .accordion_item .accordion_collapse .accordion_body .text:first-child {
            margin-top: 0; }

@media screen and (max-width: 576px) {
  #faq {
    margin-top: 80px; }
    #faq .container-own .row .tittle {
      font-size: 38px;
      margin-bottom: 40px; }
    #faq .container-own .row .col-md-12 .accordion .accordion_item .accordion_header .accordion_button {
      font-size: 20px; } }
@media screen and (min-width: 576px) and (max-width: 991px) {
  #faq {
    margin-top: 80px; } }
#contact_us {
  margin-top: 128px;
  padding: 60px 0;
  background: #8383ff;
  -webkit-border-radius: 88px 88px 0px 0px;
  -moz-border-radius: 88px 88px 0px 0px;
  -ms-border-radius: 88px 88px 0px 0px;
  -o-border-radius: 88px 88px 0px 0px;
  -khtml-border-radius: 88px 88px 0px 0px;
  border-radius: 88px 88px 0px 0px; }
  #contact_us .container-own .row .col-md-6 .tittle {
    font-weight: 700;
    padding-top: 20px;
    font-size: 36px;
    letter-spacing: 0.01em;
    color: #ffffff; }
  #contact_us .container-own .row .col-md-6 .text {
    width: 80%;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #ffffff; }

@media screen and (max-width: 768px) {
  #contact_us {
    margin-top: 88px;
    -webkit-border-radius: 50px 50px 0px 0px;
    -moz-border-radius: 50px 50px 0px 0px;
    -ms-border-radius: 50px 50px 0px 0px;
    -o-border-radius: 50px 50px 0px 0px;
    -khtml-border-radius: 50px 50px 0px 0px;
    border-radius: 50px 50px 0px 0px; }
    #contact_us .container-own .row .col-md-6 .tittle {
      font-size: 30px; }
    #contact_us .container-own .row .col-md-6 .text {
      width: 100%;
      margin-bottom: 40px; } }
#news {
  padding-top: 166px; }
  #news .container-own .row .col-md-12 .big {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px; }
  #news .container-own .row .col-md-12 .head {
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #1b1b1b; }
  #news .container-own .row .col-md-12 .text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #1b1b1b; }

/*# sourceMappingURL=style.css.map */
