---
title: FAQ
subTitle: Getting Started
nav: docs
description: Owl Carousel Documentation

sort: 3

tags:
- Getting Started
---

{{#markdown }}
## FAQ
------

Before you ask a question in the comments/via email please read the FAQs:

#### Can i use it for free?

Yes!

------
#### Can i use it for Ecommerce?

Yes!

------
#### Has it any licence?

MIT

------
#### Can i use many owls on one page?

Yes, however remember that you can use only one unique ID on single page.

------
#### Can i ask for a new functionality?

Yes! Go to [Github]({{ pkg.bugs.url }}) issues page and ask for a feature.

------
#### I need help!

First visit [Github]({{ pkg.bugs.url }}), then look again at documentation and demos. Don't forget to add [jsfiddle](https://jsfiddle.net/) or a link to your demo/example website!

------
#### Does it have infinity scroll/circle/loop slides?

Yes, finally it does.

------
#### What's new in latest release?

See Changelog

------

{{/markdown }}
